@page "/Login"
@layout MainLayoutLogin
@inherits LoginBase
    @*<link rel="stylesheet" href="/css/Login.css" />*@
    <div class="divContent">
        <div class="divLogin">
            <div class="row text-white">
                <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12 text-center form">
                    <h1 class="display-4 text-truncate">
                        <span>Ges</span><span>Ap</span>
                    </h1>

                    <h4>Sistema de Combustible</h4>

                    <div class="text-body">
                        <Card>
                            <CardBody Padding="Padding.Is3">
                                <Validations @ref="annotationsValidations" Mode="ValidationMode.Auto" ValidateOnLoad="false" Model="@userInfo">
                                    <Validation>
                                        <Field Horizontal="true">
                                            <FieldBody ColumnSize="ColumnSize.Is12.OnTablet.Is12.OnDesktop">
                                                <TextEdit Placeholder="Usuario" @bind-Text="@userInfo.UserName">
                                                    <Feedback>
                                                        <ValidationError />
                                                    </Feedback>
                                                </TextEdit>
                                                <Icon Name="IconName.User" Class="position-absolute mr-2" Style="color:var(--naranjaHMTL);top:10.5px;right:40px;" />
                                            </FieldBody>
                                        </Field>
                                    </Validation>

                                    <Validation>
                                        <Field Horizontal="true">
                                            <FieldBody ColumnSize="ColumnSize.Is12.OnTablet.Is12.OnDesktop">
                                                <TextEdit Role="TextRole.Password" Placeholder="Contraseña" @bind-Text="@userInfo.Password" KeyPress="Enter">
                                                    <Feedback>
                                                        <ValidationError />
                                                    </Feedback>
                                                </TextEdit>
                                                <Icon Name="IconName.Lock" Class="position-absolute mr-2" Style="color:var(--naranjaHMTL);top:10.5px;right:40px;" />
                                            </FieldBody>
                                        </Field>
                                    </Validation>

                                    <Field Horizontal="true" Margin="Margin.Is0.FromBottom.Is5.FromTop">
                                        <FieldBody ColumnSize="ColumnSize.IsFull.Is12" Class="text-right">
                                            <Button Color="Color.Primary" Type="Blazorise.ButtonType.Submit" Clicked="Loger" Style="width:100%;">Ingresar</Button>
                                        </FieldBody>
                                    </Field>
                                </Validations>
                            </CardBody>
                        </Card>
                    </div>



                </div>
            </div>
        </div>

        <div class="divLogo">
            <Image Source="/Images/LogoFOC100X100.png"></Image>
        </div>

        @*<FOAlert color="Color.Warning" iconName="IconName.ExclamationTriangle" mensajeDescripcion="@mensajeDescripcion" mensajeAlerta="@mensajeAlerta" @bind-visible="visibleModal" />*@
    </div>


    <FOLoading visible="modalVerificacionLogin" />
 
