@using Microsoft.AspNetCore.Http
@inherits NavMenuBase

<LayoutSider>
    <LayoutSiderContent>
        <Bar Breakpoint="Breakpoint.Desktop" NavigationBreakpoint="Breakpoint.Tablet" ThemeContrast="ThemeContrast.Light"
             Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Small" Class="bg-white" Style="color: var(--grisLetras);">
            <BarToggler />

                <BarBrand>
                    <BarItem>
                        <BarLink To="@(string.Empty)">
                            <Image Source="/Images/LogoFOC50X50.png" />
          
                        </BarLink>
                    </BarItem>
                </BarBrand>
                 @if (menuArray == null){
                    <BarMenu>
                        <BarStart>
                            <BarItem>
                           
                                  <div class="loader"></div>
                            
                            </BarItem>
                             </BarStart>
                        </BarMenu>
                 }else
                {
                                <BarMenu>
                    <BarStart>
                        <BarItem>
                            <BarLink To="">
                                <BarIcon IconName="IconName.Home" />
                                Inicio
                            </BarLink>
                        </BarItem>

                        @foreach (var item in menuArray)
                        {
                            <BarItem>

                                    <BarDropdown >
                                        <BarDropdownToggle>
                                            @if (item.Icon != null)
                                            {
                                                <BarIcon IconName="item.Icon" />
                                            }
                                            @item.Name
                                      
                                        </BarDropdownToggle>
                                        <BarDropdownMenu>
                                            @foreach (var subItem in item.Children)
                                            {
                                                if (subItem.Children != null)
                                                {
                                                    <BarDropdown>
                                                        <BarDropdownToggle>
                                                            @if (subItem.Icon != null)
                                                            {
                                                                <BarIcon IconName="subItem.Icon" />
                                                            }
                                                            @subItem.Name
                                                        </BarDropdownToggle>
                                                        <BarDropdownMenu>
                                                            @foreach (var subSubItem in subItem.Children)
                                                            {
                                                                <BarDropdownItem To="@subSubItem.Path">
                                                                    @if (subSubItem.Icon != null)
                                                                    {
                                                                        <BarIcon IconName="subSubItem.Icon" />
                                                                    }
                                                                    @subSubItem.Name
                                                                </BarDropdownItem>
                                                            }
                                                        </BarDropdownMenu>
                                                    </BarDropdown>
                                                }
                                                else
                                                {
                                                    <BarDropdownItem To="@subItem.Path">
                                                        @if (subItem.Icon != null)
                                                        {
                                                            <BarIcon IconName="subItem.Icon" />
                                                        }
                                                        @subItem.Name
                                                    </BarDropdownItem>
                                                }
                                            }
                                        </BarDropdownMenu>
                                    </BarDropdown>
                            </BarItem>
                        }
                    </BarStart>
                </BarMenu>
            }


           
        </Bar>
    </LayoutSiderContent>
</LayoutSider>